.GameContainer {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: calc(100% = var(--header-height));
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.BoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  background-color: blue;
  margin-top: 10px;
  padding-bottom: 10px;
}
.GameBoard {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  height: 420px;
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
}

.BoardRow {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  border-color: blueviolet;
  align-items: center;
  justify-content: center;
}

.BoardColumn {
  border: 2px solid rgb(7, 250, 40);
  grid-template-columns: repeat(5, 1fr);
  color: rgb(164, 204, 238);
  border-radius: 3px;
  margin: 2px;
  font-size: 2.4rem;
  font-weight: 500;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
