.Main {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.HeaderRow {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
}

.HeaderColumn {
  border: 2px solid black;
  color: aliceblue;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.4rem;
  font-weight: 500;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #282c34;
  animation: myanimate;
  animation-delay: 1s;
  animation-duration: 5s;
}

@keyframes myanimate {
  50% {
    background-color: yellow;
  }

  100% {
    background-color: green;
  }
}

.Me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.Welcome {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Overlay {
  font-size: 22px;
  opacity: 50%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282c34;
  z-index: 2;
  cursor: pointer;
}

.Text {
  font-family: "Allerta Stencil";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
